#modoPagamento
	.modal-content
		background: $arsenic
	.modal-header
		border: none
		h5
			color: $branco
			float: left
		button
			float: right
			background: #f1f1f1
			border: none
			padding: 5px 10px
			+border-radius(120px)
			&:hover
				background: #ff9933
				color: $branco

	.modal-body
		background: #f1f1f1
		margin: 0 10px
		+border-radius(4px)

	.modal-footer
		border: none

#etapa-pagamento
	